Django==6.0.1
python-decouple==3.8
requests==2.32.5
dnspython==2.8.0
reportlab==4.4.9
pillow==12.1.0
gunicorn==22.0.0
whitenoise==6.12.0
dj-database-url==2.3.0
psycopg[binary]==3.3.3
# Windows : python-magic-bin==0.4.14
# Linux/Mac : python-magic==0.4.27
python-magic==0.4.27
cryptography==48.0.0
